*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100svh;
    background-color:rgb(9, 26, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.weather{
    background-color:rgb(28, 60, 44);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width:40rem;
    padding: 2rem 4rem;
    color:darksalmon;
}
.weather #name{
    display: flex;
    margin-bottom: 7rem;
    margin-right: 30rem;
    /* border: 2px solid darksalmon; */
}
.weather input{
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: red;
}